.section-list {

    &__table {
        border-spacing: 1; 
        border-collapse: collapse; 
        background: $list-color-table-dark-2;
        border-radius: 6px;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        position: relative;
        
        * {
            position: relative
        }
        
        td,
        th {
            padding-left: 8px;
            padding-top: 20px;
        }

        thead tr { 
            height: 60px;
            background: $list-color-table-dark;
            font-size: 16px;
        }
        
        tbody tr {
            height: 48px;
            border-bottom:1px solid $list-color-table-dark;
            
            &:last-child {
                border: 0;
            }
        }
        
        td,
        th {
            text-align:left;
            
            &.l {
                text-align: right;
            }

            &.c {
                text-align: center;
            }

            &.r {
                text-align: center;
            }
        }

        @include break(mobile) {
            display: block;

            > *,
            tr,
            td,
            th {
                display: block;
            }
            
            thead {
                display: none;
            }

            tbody tr {
                height: auto;
                padding: 8px 0;

                td {
                    padding-left: 45%;
                    margin-bottom:12px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:before {
                        position: absolute;
                        font-weight: 700;
                        width: 40%;
                        left: 10px;
                        top: 0;
                    }

                    &:nth-child(1):before { content: "ID";}
                    &:nth-child(2):before { content: "Nombre";}
                    &:nth-child(3):before { content: "Apellido";}
                    &:nth-child(4):before { content: "Correo";}
                    &:nth-child(5):before { content: "Cumpleaños";}
                    &:nth-child(6):before { content: "Dirección";}
                    &:nth-child(7):before { content: "Acciones";}
                }        
            }
        
        }
    }
}